################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Skilaverkefni_1/.vs/Skilaverkefni_1/v16
