################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/helloworld/.vs/HelloWorld/v16
/Aefingaverkefni_1/.vs/Aefingaverkefni_1/v16
