################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Skilaverkefni_1/.vs/Skilaverkefni_1/v16
/Aefingarverkefni_5/.vs/Aefingarverkefni_5/v16
bin/